@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #21bd55;
  --color-gray: #b5bdc4;
  --color-white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

.btn-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.custom-btn {
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #38363b;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #fff;
  z-index: 1;
}

.custom-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  transition: all 0.3s ease;
}
.custom-btn:hover {
  color: #000;
}
.custom-btn:hover:after {
  top: 0;
  height: 100%;
}
.custom-btn:active {
  top: 2px;
}

.btn-grey {
  background-color: var(--color-gray);
  border: 2px solid var(--color-gray);
}

.btn-green {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
  font-weight: bold;
}

.btn-green:hover {
  color: var(--color-green);
}

.btn-green:disabled {
  opacity: 0.5;
}

.btn-white {
  background-color: var(--color-white);
  color: #333;
  font-weight: bold;
  border: none;
}

.btn-white:hover {
  color: var(--color-white);
}

.btn-white:after {
  background-color: #000;

}